html {
    font-size: 20px;
}


body {
    font-family: "Arial", "Meiryo", sans-serif;
}
h1 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 2rem;
    letter-spacing: 1.2em;
    text-shadow: 1px 1px 2px gray;
    border-bottom: 3px dotted rgb(115, 115, 114)
}
.p {
    color: rgb(255, 192, 203);
}
.b {
    color: skyblue;
}
h1, h2, p {
    text-align: center;
}
#basic p {
    font-weight: bold;
}